.contact {

	&__form {

		a {
			color: $color-body;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
	}

	&__icon {
		position: fixed;
		top: 50%;
		right: -.5rem;
		background: $red;
		color: $white;
		z-index: 50;
		padding: .8rem;
		padding-right: 1.3rem;
		font-size: 22px;
		line-height: 1;
		border-radius: .5rem;

		&--bus {
			margin-top: 5rem;
		}
	}

	&__cta {
		align-self: center;

		@include below (sm) {
			width: 100%;
			margin-top: 3rem;
		}
	}
}

.kontakt {

	.contact__icon--chat {
		display: none;
	}
}

.markisebus {

	.contact__icon--bus {
		display: none;
	}
}