.cta {

	&--loan {
		background: no-repeat center center;
		background-size: cover;

		a:not(.btn) {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
	}

	&__text {
		position: relative;
		padding: 3rem;
		color: $white;
		margin: 1.5rem;

		p, h2,
		h3, h4,
		h5, h5,
		h6 {
			position: relative;
			z-index: 10;	
			color: $white;
		}

		@include above (sm) {
			margin-left: 1.5rem;
		}

		&:after {
			content: '';
			background-color: $blue;
			mix-blend-mode: multiply;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 0;
			left: 0;
		}
	}

	&__circle {
		background: $red;
		width: 100%;
		border-radius: 50%;
		margin: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: $white;
		padding: 0 4rem;
		padding-bottom: 100%;

		&-link {
			font-family: $font-headings;
			font-size: 3rem;
			font-style: italic;
			font-weight: 300;
			display: block;
		}
	}

	&__wrap {
		position: absolute;
		top:50%; 
		left:50%;
  		transform: translate(-50%, -50%);
	}

	&__title {
		color: $white;

		&--product-teaser {
			color: $blue;
			margin-top: .5rem;
			margin-bottom: .5rem;
		}
	}
}