
.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	&__item {

		@include below (sm) {
			padding-bottom: 3rem;

			&:last-child() {
				padding-bottom: 0;
			}
		}

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}
		
		p {

		}
	}
}
