//gravity forms

.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 2rem !important;
		font-weight: 700 !important;
		font-family: $font-body;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn--red, .btn;

		&:hover {

		}
	}

	// Submit wrapper
	&_footer {
		
	}

	&_confirmation_wrapper {
		
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	.instruction {
		display: none !important;
	}

	// Labels
	&_label {
		font-weight: 400 !important;
	}	

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&_inline {

		@include above (sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.ginput_container_select {
				width: 75%;
			}
		}
	}

	&_select {
		-webkit-appearance: none;
		border: none;
		border: 1px solid $blue;
		padding: 8px 6px!important;
		border-radius: 0;
		background: transparent;
		outline: none;
		line-height: 1.3!important;
	}

	&_checkbox input[type="checkbox"], .ginput_container_consent input[type="checkbox"] {
		margin-right: .5rem;
		border-radius: 0;
	    -webkit-appearance: none;
	    background: $white;
	    border: .1rem solid $blue;
	    width: 1.2rem;
	    height: 1.2rem;
	    padding: .5rem;
	    position: relative;
	    margin-top: 0!important;

	    &:before, &:after {
	    	content: '';
	    	width: .1rem;
	    	height: 1.3rem;
			background: $blue;
			position: absolute;
			top: 0;
			opacity: 0;
	    }

	    &:before {
			transform: rotate(-45deg);
			transform-origin: 20% 40%;
			right: .5rem;
	    }

	    &:after {
			transform: rotate(45deg);
			transform-origin: 20% 40%;
			left: .5rem;
	    }

	    &:checked {
	    	
	    	&:before, &:after {
				opacity: 1;
	    	}
	    }
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: transparent;
		border: none;
		border: 1px solid $blue;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;
		border-radius: 0;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			outline: none;
			
		}
	}
}

.ginput_container_select {
	position: relative;

	&:after {
		position: absolute;
		right: 1rem;
		pointer-events: none;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		content: '\f107';
		width: 1rem;
		height: 2rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

.ginput_container_consent {

	a {
		color: $color-body;

		&:hover {
			color: $red;
		}
	}
}

.gf_left_half, .gf_right_half {

	@media (min-width: 640px) {
		width: calc(50% - 1rem)!important;
	}
}

.gf_left_half {

	@media (min-width: 640px) {
		margin-right: 2rem;
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

input::placeholder {
	color: rgba($color-body, .5);			
}

select {
	color: rgba($color-body, .5);			
}


textarea::placeholder {
	color: rgba($color-body, .5);				
}

 #label_3_8_1, #label_1_8_1 {
	font-size: 16px !important;
}
