.toolbar {
	padding-top: 1rem;
	display: none;

	@include above (sm) {
		display: block;
	}

	&__item {
		color: $blue-light;
		border-bottom: .2rem solid $blue-light;
		padding-bottom: .4rem;

		a {
			color: $blue-light;
		}

		i {
			border-radius: 50%;
			border: $blue-light .1rem solid;
			padding: .4rem;
			width: 24px;
			height: 24px;
			text-align: center;
			font-size: 14px;
			line-height: 1;
		}

		p {
			margin-bottom: 0;
		}
	}
}

.header {
	position: relative;

	@include below (sm) {
		padding: 2rem 0rem;
	}

	&__container {

		&--logo {

			@include below (sm) {
				align-items: flex-start !important;
			}
		}
	}

	&__logo {
		display: flex;
		float: left;

		img {
			width: 200px;
			height: 44px;
		}

		@include above (sm) {
			margin: 3rem 1.5rem;

			img {
				width: 268px;
				height: 59px;
			}
		}
	}
}