/********************LAYOUTS********************/

/* Base Styles */


/* WYSIWYGs */
.wysiwygs {

  &__title {

  }

  &__col {

    a:not(.cta__circle):not(.btn) {
      color: $color-body;
      transition: all ease .3s;

      &:hover {
        color: $red;
      }
    }
	
    @include above (sm) {

      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
}

.bg {

  &--blue {
    color: $white;
  }
} 

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

//standard paddings change accordion to design
.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 8rem;
    }

    &--bottom {
      padding-bottom: 8rem;
    }

    &--both {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}