.mosaic {
	position: relative;

	&__row {
		flex-direction: column-reverse;

		@include above (sm) {
			flex-direction: initial;
		}
	}

	&__text {
		margin-bottom: 3rem;
		padding-top: 3rem;
		padding-bottom: 3rem;

		@include above (sm) {
			margin-bottom: 0;
		}
		
		a:not(.cta__circle) {
			display: flex;
			align-items: center;
			color: $blue;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}

		i {
			margin-left: 1rem;
		}
	}

	&__title {
		@include title-border(
			$bg: $blue
		);
	}

	&__gallery {
		display: none;
		
		@include above (sm) {
			flex-wrap: wrap;
			position: absolute;
			right: 0;
			margin-top: .5rem;
			margin-bottom: .5rem;
			padding-right: 0;
			margin-right: -.5rem;
			width: 50%;
			display: flex;
			padding: 0;
		}
	}

	&__cta {
		background: no-repeat center center;
		background-size: cover;
		display: flex;
		padding-top: 3rem;
		padding-bottom: 3rem;

		@include below (sm) {
			width: 100%;
		}

    	.cta__circle {

    		@include above (md) {
				padding-bottom: 60%;
    			width: 60%;
    			margin: auto;
    		}
    	}
	}

	&__item {
		padding-bottom: 25rem;
		background: no-repeat center center;
		background-size: cover;
		margin: .5rem;
		width: 100%;
		
		@include above (sm) {

			&--1, &--5 {
				width: calc(75% - 1rem);
			}

			&--2 {
				width: calc(25% - 1rem);
			}

			&--3, &--4 {
				padding-bottom: 15rem;
				width: calc(100% - 1rem);
			}


			&--3 {
				margin-bottom: 1rem;
			}
		}

		&--4 {
	
		}
	}

	&__wrap {
		width: calc(50% - 1rem);

		@include above (sm) {
			width: calc(25% - 1rem);
		}
	}
}