.nav {

	@include above (sm) {
		width: 100%;
		margin-bottom: 1.5rem;
	}

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;
		position: relative;

		@include above (sm) {
			float: left;
			padding: .5rem;
			display: inline-block;

			&:first-child() {
				padding-left: 0;
			}

			&:after {
				content: '/';
				margin-left: 1rem;
				color: $blue-light;
			}

			&:last-child() {

				&:after {
					display: none;
				}
			}
		}

		&.is-active > a {
			color: $red;
		}

		&.is-dropdown {

			@include above (sm) {

				&:hover {

					.nav__dropdown {
						display: block !important;
					}
				}
			}
		}
	}


	&__link {
		text-transform: uppercase;
		color: $blue;
		transition: all ease .3s;

		&:hover {
			color: $red;
		}

		&.is-active {
			color: $red;
		}
	}


	&__icon {
		font-size: 12px;
		padding-left: .2rem;

		@include above (sm) {
			display: none;
		}
	}


	&__dropdown-trigger {

		@include below (sm) {
			pointer-events: none;
		}
	}


	&__dropdown {
		display: none;
		padding: 0;
		top: 100%;
		background: $white;

		@include above (sm) {
			position: absolute;
		}

		&.is-visible {
			display: block;
		}
		
		.is-dropdown {
			padding-bottom: 0;	
		}

		.nav__dropdown {
			display: block;
			position: relative;
		}

		li {
			float: none;
			display: block;

			&:after {
				display: none;
			}

			@include above (sm) {

				&:first-child() {
					padding-left: .5rem;
				}
			}
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;
			text-transform: initial;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 84px;
			right: 0;
			height: calc(100% - 84px);
			width: 100%;
			transform: translateX(100%) translateZ(0);
			transition: all 1.2s cubic-bezier(.77,0,.175,1);
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0) translateZ(0);
			}

			// Set body to fixed
			@at-root {		
				body.is-fixed {
					@include below (sm) {
						overflow: hidden;
						position: fixed;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		@include above (sm) {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
		}
	}


	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $blue;
			font-weight: 400;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 2rem;
			height: 2px;
			background: $red;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 2px;
				background: $red;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.6rem;
			}

			&::after {
				top: -.6rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}