.page {
	
	&__img {
		position: relative;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 25rem;

			@include above (sm) {
				padding-bottom: 40%;
			}

			@include above (lg) {
				padding-bottom: 60rem;
			}
		}

		&:after {
			content: '';
			background-color: $blue;
			mix-blend-mode: multiply;
			position: absolute;
			width: 20%;
			height: 100%;
			top: 0;
			right: 0;
			z-index: 1;
		}
	}  
}
