.products {

	&__filter {
		width: 100%;

		@include above (sm) {
			width: 16.66667%;
		}
	}

	&__item {
		padding: 1rem 1.5rem;
		overflow: hidden;
		text-align: center;
		color: $color-body;

		@include between (xs, sm) {
			width: 50%;
		}

		&--sales-badge {

			header {
				position: relative;
				overflow: hidden;
			}
		}

		&.has-btn {
			padding-bottom: 9rem;
		}
	}

	&__sales-badge {
		position: absolute;
		display: block;
		background: $red;
		color: $white;
		width: 16rem;
		transform: rotate(-45deg);
		transform-origin: 9rem 7.5rem;
		text-align: center; 
		font-size: 20px;
		left: 0;
		top: 0;
		font-weight: 700;
	}

	&__title {
		margin-top: 0;

		&--archive {
			font-size: 1.6rem;
			margin-bottom: 0;
			font-family: $font-body;
			text-transform: capitalize;
		}
	}

	&__btn {
		position: absolute;
		bottom: 4.5rem;
		left: 50%;
    	transform: translateX(-50%);
	}

	&__cta {
		margin-top: 3rem;

		@include above (sm) {
			margin-top: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__row {
		
	}

	&__intro {
		padding-bottom: 3rem;
	}

	&__text {
		padding-bottom: 6rem;
		position: relative;

		a {
			color: $color-body;
			transition: all ease .3s;

			&:hover {
				color: $red;
			}
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 3rem;
			width: 17rem;
			height: .1rem;
			left: 0;
			background: $blue;
		}

		&-assortment, &-offer {
			font-size: 2rem;

			a {
				color: $red;
			}
		}

		&-assortment {

		}

		&-offer {

		}
	}

	&__img {

		@include below (sm) {
			width: 100%;
		}
	}

	&__teaser {

		&-img {
			background: no-repeat center center;
			background-size: cover;
			min-height: 30rem;

			&--2 {
				width: 100%;

				@include above (md) {
					width: calc(50% - 1.5rem);
					margin-right: 1.5rem;
					min-height: 25rem;
				}
			}
		}

		&-cta {

			@include below (sm) {
				width: 100%;
				margin-bottom: 1.5rem;
			}
		}

		&-wrap {
			padding-top: 1.5rem;

			.selection__circle {
				margin-top: 1.5rem;

				@include above (md) {
					margin-top: 0;
					width: calc(50% - 1.5rem)!important;
					padding-bottom: calc(50% - 1.5rem) !important;
				}
			}
		}
	}
}