.product-gallery {
	margin-bottom: 3rem;

	&__list {
		margin-left: -.5rem;
		margin: -.5rem;
		margin-top: .5rem;
	}

	&__item {
		padding: .5rem;
		margin: 0;

		@include below (xs) {

			&:not(.product-gallery__item--featured) {
				width: 50%;
			}
		}

		&--featured {
			padding: 0;

			.product-gallery__link {
				position: relative;
				display: flex;
				flex-direction: column;

				&:after {
					content: '\f002';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					position: absolute;
					right: 2.5rem;
					top: 2rem;
					font-size: 2rem;
					color: $red;
				}
			}
		}
	}

	&__link {

		@include above (sm) {
			display: flex;
			flex-direction: column;
		}
	}
}