.search {

	&__form {
		display: none;

		@include above (sm) {
			display: block;
		}
	}

	&__input {
		background: $blue-lightest;
		-webkit-appearance: none;
		border: none;
		padding: .8rem;
		border-radius: .3rem;
		min-width: 25rem;
	}
}