.selection {

	&__item {
		padding-top: 3rem;
		padding-bottom: 6rem;

		@include above (sm) {
			padding-bottom: 3rem;			
		}

		&--img {
			background: no-repeat center center;
			background-size: cover;
			display: flex;

			@include below (sm) {
				width: 100%;
			}
		}
	}

	&__title {
		color: $white;
		@include title-border();
		line-height: 1.2;

		&--circle {
			color: $yellow;
			margin: 0;
			position: relative;
			z-index: 10;
			text-align: center;
			line-height: 1.2;
		}
	}

	&__link {
		color: $white;
		display: flex;
		align-items: center;
		transition: all ease .3s;

		&:hover {
			color: $yellow;
		}

		i {
			color: $yellow;
			margin-left: 1rem;
		}
	}

	&__circle {
		width: 100%;
		margin: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 0 4rem;
		padding-bottom: 100%;

		@include above (md) {
			padding-bottom: 60%;
			width: 60%;
		}

		&:after {
			content: '';
			background: $blue;
			mix-blend-mode: multiply;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			z-index: 1;
		}
	}

	&__wrap {
		position: absolute;
		top:50%; 
		left:50%;
  		transform: translate(-50%, -50%);
  		z-index: 10;
	}
}