.sidebar {
	margin-top: 1rem;

	&__category {
		border-top: .1rem solid;
		margin-bottom: 1.5rem;
	}

	&__title {
		margin-top: 1.5rem;
		margin-bottom: 1rem;
		font-family: $font-body;
		font-weight: 400;

		&:hover {
			cursor: pointer;
		}

		&.is-active {

			.sidebar__icon {

				&:before {
					content: '-';
				}
			}
		}
	}

	&__icon {

		&:before {
			content: '+';
			float: right;
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 1;
		}
	}

	&__wrap {
		display: none;
	}

	&__label {
		display: block;
	}

	&__checkbox {
		margin-right: .5rem;
		border-radius: 0;
	    -webkit-appearance: none;
	    background: $white;
	    border: .1rem solid $blue;
	    width: 1.2rem;
	    height: 1.2rem;
	    position: relative;

	    &:before, &:after {
	    	content: '';
	    	width: .1rem;
	    	height: 1.3rem;
			background: $blue;
			position: absolute;
			top: 0;
			opacity: 0;
	    }

	    &:before {
			transform: rotate(-45deg);
			transform-origin: 20% 40%;
			right: .5rem;
	    }

	    &:after {
			transform: rotate(45deg);
			transform-origin: 20% 40%;
			left: .5rem;
	    }

	    &:checked {
	    	
	    	&:before, &:after {
				opacity: 1;
	    	}
	    }
	}
}