.slider {

	&__track {

	}

	&__item {
		position: relative;
		z-index: 2;
		width: 100%;
		background: no-repeat center center;
		background-size: cover;
		color: $white;

		&:before {
			content: '';
			display: block;
			height: 0;
			padding-bottom: 35rem;

			@include above (lg) {
				padding-bottom: 60rem;
			}
		}
	}

	&__container {
		display: flex;
		height: 100%;
	}

	&__title {
		color: $white;
	}

	&__text {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 3rem;

		&:before, &:after {
			content: '';
			background-color: $blue;
			mix-blend-mode: multiply;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: -1;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: -100%;

			@include below (sm) {
				display: none;
			}
		}

		i {
			margin-left: 1rem;		
		}

		&--latest-products {
			padding-top: 3rem;
		}
	}

	&__link {
		color: $white;
		transition: all ease .3s;
		align-self: flex-start;
		display: flex;
		align-items: center;
	}

	&--latest-products {

		.slider__container {
			position: relative;
			padding-top: 2.5rem;

			@include above (sm) {
				padding-top: 0;
			}

			&:before {
				position: absolute;
				content: '';
				background: $blue;
				top: -8rem;
				width: calc(50% - 1.5rem);
				height: 100%;
				right: 1.5rem;
			}
		}

		.slider__item {

			&:before {

				@include above (lg) {
					padding-bottom: 40rem;
				}
			}
		}

		.slider__text {
			height: 100%;
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
		display: flex;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
		display: flex;
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-dots {
		counter-reset: dots;
		position: absolute;
		top: -3.6rem;
		display: flex;
		left: 8rem;
		align-items: center;
		font-family: $font-headings;
		font-style: italic;
		font-size: 2.5rem;

		&:after {
    		content: counter(dots);
    		color: $blue;
    		font-weight: 400;
    		bottom: 0;
    		z-index: 100;
		}
	}

	.owl-dot {
		counter-increment: dots;

		span {
			display: none;
		}

		&.active {

			&:before {
	    		content: counter(dots) '/';
	    		color: $blue;
	    		font-weight: 400;
	    		bottom: 0;
	    		z-index: 100;
			}
		}
	}

	.owl-nav {
		position: absolute;
		top: -3.7rem;
		display: flex;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	.owl-prev,
	.owl-next {
		background: $blue;
		color: $white;
		padding: .8rem 1rem;
		font-size: 2rem;
		line-height: 1;
		transition: all ease .3s;

		&:hover {
			background: $red;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}
}