.btn {
	display: inline-block;
	position: relative;
	padding: 1.2rem 1.5rem;
	text-transform: uppercase;

	&--red {
		border-radius: 1.5rem;
		background: $red;
		color: $white;
		font-weight: 700;
	}
}