/********************MIXINS*********************/

@mixin clearfix() {

	&::after {
		content: "";
		display: table;
		clear: both;
	}
}


@mixin title-border($spacing: 3rem, $align: 0, $transform: 0, $bg: $yellow) {
	position: relative;
	padding-top: 3rem;
	margin-top: $spacing;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		width: 17rem;
		height: .3rem;
		left: $align;
		transform: translateX($transform);
		background: $bg;
	}
}