/********************VARIABLES********************/

// Custom fonts example (modify as needed)
@font-face {
  font-family: 'Din 2014 regular';
  src: url('../fonts/din2014regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AGaramondPro Italic';
  src: url('../fonts/AGaramondPro-Italic.otf') format('OpenType');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AGaramondPro regular';
  src: url('../fonts/AGaramondPro-Regular.otf') format('OpenType');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


// Fonts
$font-body: 'Din 2014 regular', serif; 
$font-headings: 'AGaramondPro regular', sans-serif;

// Base sizes
$base-font-size: 16px; // General font-size, also used for mobile - default 16px
$base-font-size-desktop: 16px; // Desktop font-size - default 16px 

/********* Colors *********/

$blue: #002c42;
$blue-light: #9fb1bd;
$blue-lightest: #ecf2f6;

$yellow: #fff042;
$red: #d60b52;

$white: white;
$black: black;

// Set font colors
$color-body: $blue;
$color-body-light: #9fb1bd;
$color-headings: $color-body;


// Bootstrap Grid only
//


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 480px,
  // Small screen / phone
  sm: 768px,
  // Medium screen / tablet
  md: 992px,
  // Large screen / desktop
  lg: 1170px,
  // Extra large screen / wide desktop
  xl: 1400px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          3rem !default; // 2rem

//missing variables
$enable-flex:               false !default;
$enable-grid-classes:        true !default;